body{
    font-family: Arial, 20px;
    color:black;
}
.rodape {
    display: flex;               /* Ativa o Flexbox */
    justify-content: center;   /* Alinha os itens à direita */
    font-size: 11px;
    font-weight: bold;
}
.rodape ul{
    list-style: none;  /* Remove os marcadores da lista */
    padding: 0;        /* Remove o padding */
    margin: 0;         /* Remove a margem */
    display: flex;     /* Exibe os itens em linha */
}
.rodape li{
    margin-left: 20px; /* Adiciona um espaço entre os itens */
    display: flex;     /* Alinha os itens dentro do <li> em linha */
    align-items: center; /* Alinha as imagens e o texto */
}
.rodape img {
    margin-right: 8px;  /* Espaço entre a imagem e o link */
}
.rodape a {
    text-decoration: none; /* Remove o sublinhado do link */
    color: black;          /* Cor do texto */
}
.logo{
    align-items: center;
    justify-items: center;
    justify-content: center;
    display: flex;
    margin-left: 300px;
}
html{
    background-image: url(https://img.freepik.com/fotos-premium/ilustracao-do-fundo-social-pastel-de-neo-memphis_53876-150040.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
header{
    background-color: peru;
    width: auto;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    justify-items: center;
}
.preco{
    color: red;
    font-weight: bold;
}
.container {
    display: flex;  /* Ativa o Flexbox */
    justify-content: space-between; /* Espaço entre as divs */
    gap: 20px; /* Espaçamento */
}
.tamanhos, .recheios {
    width: 48%; /* Ocupam metade do espaço cada uma */
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
}
/* Melhorando a aparência da lista */
ul {
    list-style-type: none; /* Remove os pontos da lista */
    padding: 0;
}
li {
    padding: 5px 0;
}
@media (max-width: 600px) {
.tamanhos, .recheios {
    width: 100%; /* Ocupam toda a largura */
}
}
.topo{
    margin: 10px;
}
.swiper {
    width: 400px;
    height: 200px;
}
.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: scale-down; /* Ajusta a imagem para caber no slide */
    border-radius: 10px;
    
}
.swiper mySwiper{
    display: flex;
    justify-content:space-around;
    align-items: flex-start;
    height: 100vh;
    background-color: #f4f4f4;
}